@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: inherit;

    color: hsl(240, 40%, 15%);
    font-family: Inter, Roboto, Arial, Helvetica, sans-serif;

    outline: none;
}

body {
    background-color: hsl(240, 100%, 97%);
}

a {
    color: darkblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: indigo;
}
